@model IEnumerable<DevPratica.Locacao.Modelo.Equipamento>

@{
    ViewData["Title"] = "Index";
}
<form>
    <div class="row">
        <div class="col-md-6">
            <h4>Lista - Equipamentos</h4>
        </div>
        <div class="col-md-6 text-end">
            <button asp-action="Create" title="Criar registro" class="btn btn-primary btn-sn">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    <hr />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Valor)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        <button asp-action="Edit" asp-route-id="@item.Id" title="Editar registro" class="btn btn-primary btn-sn">
                            <i class="fas fa-edit"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>